#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/ {
    behaviors {
      #include "macros.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
      
      /*
      * Holding a NUM invokes the Fn Key - but not ONLY if there's NO key press for <125>ms!
      * https://zmk.dev/docs/behaviors/hold-tap#global-quick-tap
      */
      gqt: global-quick-tap {
          compatible      = "zmk,behavior-hold-tap";
          label           = "GLOBAL_QUICK_TAP";
          #binding-cells  = <2>;
          flavor          = "tap-preferred";
          tapping-term-ms = <300>;
          quick-tap-ms    = <125>;
          global-quick-tap;
          bindings        = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &gqt F11 EQUAL &gqt F1 N1 &gqt F2 N2 &gqt F3 N3 &gqt F4 N4 &gqt F5 N5 &tog 1                                                                            &mo 3 &gqt F6 N6 &gqt F7 N7 &gqt F8 N8 &gqt F9 N9 &gqt F10 N0 &gqt F12 MINUS
        &kp TAB        &kp Q      &kp W      &kp E      &kp R      &kp T      &none                                                                             &none &kp Y      &kp U      &kp I      &kp O      &kp P       &kp BSLH
        &kp ESC        &kp A      &kp S      &kp D      &kp F      &kp G      &none          &kp LCTRL &kp LALT             &kp LALT       &kp RCTRL            &none &kp H      &kp J      &kp K      &kp L      &kp SEMI    &kp SQT
        &kp LSHFT      &kp Z      &kp X      &kp C      &kp V      &kp B            &none    &none     &kp HOME &none &none &kp LS(INSERT) &none     &none            &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH    &kp RSHFT
        &mo 2          &kp GRAVE  &kp NUBS   &kp LEFT   &kp RIGHT                   &kp BSPC &kp DEL   &kp END              &kp LC(INSERT) &kp ENTER &kp SPACE                   &kp DOWN   &kp UP     &kp LBKT   &kp RBKT    &mo 2
      >;
    };
    
    /* 
     * Pressing the KP Key toggles the keypad to right-hand use, with HOME/END switched with COPY/PASTE
     */
    keypad {
      bindings = <
        &gqt F11 EQUAL &gqt F1 N1 &gqt F2 N2 &gqt F3 N3 &gqt F4 N4 &gqt F5 N5 &tog 1                                                                            &mo 3 &gqt F6 N6 &gqt F7 N7 &gqt F8 N8 &gqt F9 N9 &gqt F10 N0 &gqt F12 MINUS
        &kp TAB        &kp Q      &kp W      &kp E      &kp R      &kp T      &none                                                                             &none &kp Y      &kp U      &kp I      &kp O      &kp P       &kp BSLH
        &kp ESC        &kp A      &kp S      &kp D      &kp F      &kp G      &none          &kp LCTRL &kp LALT                   &kp LALT &kp RCTRL            &none &kp H      &kp J      &kp K      &kp L      &kp SEMI    &kp SQT
        &kp LSHFT      &kp Z      &kp X      &kp C      &kp V      &kp B            &none    &none     &kp LS(INSERT) &none &none &kp HOME &none     &none            &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH    &kp RSHFT
        &mo 2          &kp GRAVE  &kp NUBS   &kp LEFT   &kp RIGHT                   &kp BSPC &kp DEL   &kp LC(INSERT)             &kp END  &kp ENTER &kp SPACE                   &kp DOWN   &kp UP     &kp LBKT   &kp RBKT    &mo 2
      >;
    };
    
    /* 
     * Holding the FN Key toggles Func Key presses (F1 - F12)
     */
    fn {
      bindings = <
        &kp F11 &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &tog 1                                                      &mo 3 &kp F6 &kp F7 &kp F8 &kp F9  &kp F10 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                                       &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans             &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans        &none  &none  &trans &none &none &trans &none  &none        &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans             &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };
    mod {
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                                                          &trans                 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none
        &none &none        &none        &none        &none        &none        &bootloader                                                                                                    &bootloader            &none        &none        &none        &none        &none        &none
        &none &none        &none        &none        &none        &none        &rgb_ug RGB_MEFS_CMD 5                 &bt BT_CLR &bt BT_CLR             &bt BT_CLR &bt BT_CLR                 &rgb_ug RGB_MEFS_CMD 5 &none        &none        &none        &none        &none        &none
        &none &none        &none        &none        &none        &none                               &none           &none      &none      &none &none &none      &none      &none                                  &none        &none        &none        &none        &none        &none
        &none &none        &none        &bl BL_INC   &bl BL_DEC                                       &rgb_ug RGB_TOG &bl BL_TOG &none                  &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_DEC   &bl BL_INC   &none        &none        &none
      >;
    };
  };
};
